html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
p {
    font-size: 2rem;
    line-height: 2;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
ul li{
    list-style: none;
}

/* SECCION OYE REGALO INICIO */
.regalo h1{
    font-size: 4rem;
}
.regalo span{
    color: #FF8400;
}
.regalo__texto{
    line-height: 1.2;
    font-size: 3rem;
}