
/* MEDIAS */
$chico: 480px;
$medio: 768px;
$alto: 991px;
$altoL: 992px;

/* COLORES */
$blanco: #fff;
$negro: #000;
$amarillo: #E19F00;
$amarillo_oscuro: #FF8400;
$verde: #249E64;
$gris: #818391;
$gris_oscuro: #2f313f;

// Importando Bootstrap - SIN USAR DE MOMENTO
/* @import '../../node_modules/bootstrap/scss/bootstrap.scss'; */